/**
color collection
**/
$scroll: #464646;
$scroll-hover: #515151;
$background: #3c3c3c;
$background-hover: hsl(217, 9%, 28%);
$icon-color: #adadad;
$font-color: #cccccc;

$logo-color: #03a9f4;
$sidebar-bg: #333333;
$sidebar-content-bg: #252526;
$tab-bg-active: #1e1e1e;
$tab-bg: #2d2d2d;
$sidebar-header-bg: #383838;
$terminal-bg: #1e1e1e;
/**
Size
**/
$space: 3rem;
$header-height: 2rem;
$tab-height: 1.2rem;
$status-bar-height: 1rem;
$logo-size: 1.2rem;
$font-size: 0.8rem;
