@import "../../../../@core/style/variable";

.datasource-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - #{$header-height});
    background-color: $terminal-bg;
    .datasource-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        cursor: pointer;
        margin: 0rem 4rem;
        
        .text {
            margin-top: 0.5rem;
            color:$font-color;

        }
    }
}
