<div class="files-container">
    <div class="files-header">
        <span class="noselect">Session</span>
    </div>

    <div class="files-sessions">
        <div class="info-header session" (click)="toggleSessions()">
            <svg-icon class="icon" [src]="ShowSessions | ArrowDirectionPipe"></svg-icon>
            <span class="noselect">Remote</span>
            <div class="right-actions">
                <mat-icon class="icon-action mat-icon-refresh noselect" (click)="onRefresh()">refresh</mat-icon>
                <mat-icon class="icon-action mat-icon-close noselect" (click)="onClose()">close</mat-icon>
                <div class="dot" [ngClass]="{'connected': sessionSetup}"></div>
            </div>
        </div>
        <div class="files-sessions-content" *ngIf="ShowSessions">
            <app-workspace-tree [data]="sessions$"></app-workspace-tree>
        </div>
    </div>
</div>